.container {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

header h1 {
  font-size: 20px;
  margin-bottom: 5px;
}

.note {
  font-size: 12px;
  color: gray;
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
  display: block;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #141414 !important;
}

.options label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  opacity: 1 !important;
}

.pro-settings {
  margin-top: 20px;
  padding: 10px;
  background: #f1f3f5;
  border-radius: 8px;
}

.pro-settings h2 {
  font-size: 16px;
  margin-bottom: 4px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.reset {
  background: #f1f3f5;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  width: 220px;
}

.proceed {
  background: #00bfff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  width: 220px;
}

button:hover {
  opacity: 1;
}
form label {
  display: flex !important;
  gap: 5px !important;
}
.mandatory {
  color: #4398b9;
}
.lower-part {
  text-align: center;
  color: gray;
}
