.container {
  width: 500px;
  max-width: 100%;
}

.pricing-container h4 {
  color: #43b2e6;
  margin-bottom: 10px;
  text-align: center;
}
.pricing-container h5 {
  text-align: center;
  margin-bottom: 50px;
}
.pricing-container p {
  color: #555;
  margin-bottom: 30px;
  text-align: center;
  padding: 0px 30px;
  opacity: 0.8;
  font-size: 18px;
}

.plans {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  gap: 15px;
}

.plan {
  border: 2px solid #cce5ff;
  border-radius: 10px;
  padding: 20px;
  width: 48%;
  background-color: #f6f7f9;
}

.plan h3 {
  margin: 0;
  font-size: 20px;
}

.price {
  font-size: 28px;
  font-weight: bold;
  margin: 10px 0;
  color: #222;
}

.billed {
  font-size: 14px;
  color: #777;
}

.save {
  color: white;
  font-weight: bold;
  font-size: 12px;
  background-color: #43b2e6;
  width: 73px;
  padding: 8px;
  border-radius: 50px;
}

ul.features {
  list-style: none;
  padding: 0;
  text-align: left;
}

ul.features li {
  margin: 10px 0;
  color: #333;
}

ul.features li::before {
  /* content: "✔"; */
  color: #00bfff;
  margin-right: 10px;
}
.monthly-plan {
  display: flex;
  justify-content: space-between;
}
.billed-monthly {
  margin-top: 58px;
}
.billed {
  margin-top: 20px;
}
.features {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.verified {
  width: 100%;
  color: white;
  background-color: #43b2e6;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
}
